@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/assets/images/cosmos4K.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: white;
}
img{
    display: block;
    margin: auto;
    padding: 5px;
}
.entrada{
    background-color: rgb(31, 29, 42);
    padding: 45px 60px;
}
.entrada input{
    font-size: 15pt;
    padding: 5px;
    margin: 5px;
    width: 350px;
    background: transparent;
    border: 0px;
    border-bottom: 3px solid rgb(41, 39, 63);
    color: white;
}
.entrada input:hover{
    border-bottom: 3px solid rgb(48, 46, 78);
}
input:invalid{
    color: gray;
}
.erro {
    font-size: 10pt;
    color: white;
    background-color: rgb(41, 39, 63);
    display: block;
    text-align: center;
}
.erro.ativo {
    padding: 4px;
}
#botao{
    color: gray;
    font-size: 10pt;
    border: 0px;
    margin: 0px;
    width: auto;
}
#botao:hover{
    cursor: pointer;
    color: white;
}
p{
    color: white;
    font-size: 10pt;
    padding: 2px 5px;
}
.entrega input{
    font-size: 20pt;
    padding: 10px 30px;
    margin: 20px;
    background-color: rgb(41, 39, 63);
    border: 0px;
    color: white;
    font-weight: 600;
}
.entrega input:hover{
    cursor: pointer;
    background-color: rgb(48, 46, 78);
}
a{
    text-decoration: none;
    color: gray;
    font-size: 10pt;
}
a:hover{
    color: white;
}
footer{
    text-align: center;
}
footer a{
    border-top: 1px solid gray;
    padding: 5px 140px;
}
@media (max-width: 1024px) {
    body {
        background-image: url(/assets/images/cosmosLaptop.png);
    }
}
@media (max-width: 576px) {
    body {
        background-image: url(/assets/images/cosmosMobile.png);
    }
    #tela{
        zoom: 55%;
    }
}
@media (min-width: 1580px) {
    #tela{
        zoom: 160%;
    }
}
